* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffff;
}

.main-wrapper {
  width: 95%;
  max-width: 95%;
  margin: 20px auto;
  background: none;
  border-radius: 25px;
  overflow: hidden;
  color: #fff;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-sizing: border-box;
  background: #166647;
  border-radius: 48px;
  height: 138px;
}

.navbar .logo {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);

  padding: 7px 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 64px;
  position: relative;
  overflow: hidden;
}

.navbar .logo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.navbar .logo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.navbar .logo img {
  height: 45px;
  width: 93px;
  max-width: 100%;
}

.nav-wrapper {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);

  padding: 12px 12px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 64px;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.nav-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.nav-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  padding: 16px 8px;
  border-radius: 20px;
  opacity: 0.7;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 66px;
  height: 40px;
}

.nav-links a:hover {
  opacity: 1;
}

.nav-links a.active {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow:
  0 4px 16px rgba(0, 0, 0, 0.2),
  inset 0 1px 0 rgba(255, 255, 255, 0.7);
  opacity: 1;
  width: 81px;
  height: 40px;
  padding: 16px 8px;
}

.nav-btn {
  font-family: 'Poppins', sans-serif;
  background: #1C7F56;
  color: white;
  height: 64px;
  width: 271px;
  padding: 0 60px 0 24px;
  border-radius: 32px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  gap: 8px;
}

.nav-btn .nav-arrow-icon {
  background: white;
  color: #1C7F56;
  width: 56px;
  height: 56px;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.nav-btn:hover {
  background: #166c41;
}

.intro-section {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  height: auto;
  margin: 60px auto;
  text-align: center;
}

.section-label {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background: #E5FAEA;
  color: #1C7F56;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 16px;
  margin-bottom: 20px;
  height: 43px;
  margin: 241px auto 20px auto;
  white-space: nowrap;
}

.service-title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #111;
}

.message-news {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #777777;
}

.hero-buttons {
  display: flex; 
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 5%;
}

.hero-btn:hover {
  background: #166c41;
}

.hero-nav-btn {
  font-family: 'Poppins', sans-serif;
  background: #1C7F56;
  color: white;
  height: 64px;
  width: 200px;
  padding: 0 60px 0 24px;
  border-radius: 32px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  gap: 8px;
}

.hero-nav-btn .nav-arrow-icon {
  background: white;
  color: #1C7F56;
  width: 56px;
  height: 56px;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-nav-btn:hover {
  background: #166c41;
}